# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# If using virtualenv or venv:
venv/
env/
ENV/
.venv/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# Docker
*.env

# Coverage reports
htmlcov/
.coverage

# Django migrations
*/migrations/*.pyc
*/migrations/*.py~

# Ignore .env files for environment variables
.env
